[Unit]
Description=Runs code on button press.
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/planetary_start/spaceship_controls.py
Restart=always

[Install]
WantedBy=multi.user.target
